.page {
    padding: 20px;
  }
  .form-control.react-datepicker-ignore-onclickoutside,
  .react-datepicker-wrapper {
    width: 465px !important;
  }
  .react-datepicker__current-month,
  .react-datepicker-time__header,
  .react-datepicker-year-header,
  .react-datepicker__day-name,
  .react-datepicker__day,
  [class^="react-datepicker__day--*"],
  .react-datepicker__time-list-item {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
      "Droid Sans", "Helvetica Neue", sans-serif;
  }