body {
  border-width: 0;
}

#homeDiv {
  background-color: #323F4B;
  border-width: 0;
}

.welcome {
  text-align: center;
  color: #adcbd6;
  padding: 2%;
}

#carouselExampleCaptions {
  margin-left: 10%;
  margin-right: 10%;
}

#captionTxt {
  font-size: 130%;
  text-shadow: 2px 2px 8px black;
}