h3 {
  text-align: center;
  color: white;
}

h2 {
  color: #38748a;
  font-weight: bold;
}

.card {
  padding: 2%;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  display: flex;
  justify-content: center;
}

.card-body {
  background-color: rgb(230, 233, 240);
}
.card-header {
  background-color: rgb(230, 233, 240) !important;
  color: #38748a;
  font-weight: bold;
}

#cardbackground {
  background-color: rgb(230, 233, 240);
}

.ProfileForm {
  background-color: transparent !important;
}
