.uservideo {
    /* border: 1px solid transparent; */
    width: 16rem;
    height: 16rem;
    display: block;
    margin: auto;
}

.partnervideo {
    /* border: 1px solid transparent; */
    width: 52rem;
    height: 52rem;
    display: block;
    margin: auto;
}

.row {
    display: flex;
    width: 100%;
}

.hangupBtn {
    background-color: rgb(189, 2, 2);
    border-radius: 6px;
    border: solid black 1px;
    font-size: 1.25rem;
    margin-left: .9rem;
}

.userName {
    text-align: none;
    margin-top: 2rem;
}

.container {
    /* height: 100vh;
    width: 100%; */
    display: flex;
    flex-direction: column;
}