.uservideo {
    /* border: 1px solid transparent; */
    width: 16rem;
    height: 12rem;
    display: block;
    margin: auto;
}

.partnervideo {
    /* border: 1px solid transparent; */
    width: 52rem;
    height: 40rem;
    display: block;
    margin: auto;
}
 @media (max-width: 900px) {
    .partnervideo {
        /* border: 1px solid transparent; */
        width: 40rem;
        height: 38rem;
        display: block;
        margin: auto;
    }
 }
 @media (max-width: 700px) {
    .partnervideo {
        /* border: 1px solid transparent; */
        width: 34rem;
        height: 38rem;
        display: block;
        margin: auto;
    }
 }
 @media (max-width: 600px) {
    .partnervideo {
        /* border: 1px solid transparent; */
        width: 30rem;
        height: 38rem;
        display: block;
        margin: auto;
    }
 }
 @media (max-width: 500px) {
    .partnervideo {
        /* border: 1px solid transparent; */
        width: 26rem;
        height: 38rem;
        display: block;
        margin: auto;
    }
 }
 @media (max-width: 450px) {
    .partnervideo {
        /* border: 1px solid transparent; */
        width: 24rem;
        height: 28rem;
        display: block;
        margin: auto;
    }
 }
 @media (max-width: 400px) {
    .partnervideo {
        /* border: 1px solid transparent; */
        width: 22rem;
        height: 38rem;
        display: block;
        margin: auto;
    }
 }

.row {
    /* display: flex; */
    /* width: 100%; */
    display: flex;
    margin: auto;
    text-align: center;
}

.user-row {
    width: 16rem;
    height: 12rem;
    display: flex;
    width: 100%;
    text-align: center;
}

.partner-row {
    width: 52rem;
    height: 40rem;
    display: flex;
    width: 100%;
    text-align: center;
}

.hangupBtn {
    background-color: rgb(189, 2, 2);
    border-radius: 6px;
    border: solid black 1px;
    font-size: 1.25rem;
    /* margin-left: .9rem; */
}

.userName {
    text-align: none;
    margin-top: 2rem;
}

.container {
    /* height: 100vh;
    width: 100%; */
    display: flex;
    flex-direction: column;
}