body {
  text-align: center;
  background-color: #323F4B;
}

form {
  display: inline-block;
}

h1 {
  text-align: center;
  padding: 2%;
  color: #adcbd6;
}

.form-horizontal {
  text-align: center;
}

.form-group {
  text-align: center;
}

.form-input {
  text-align: center;
}

.form-label {
  text-align: center;
}

#addPetCentering {
  text-align: center;
  align-items: center;
  align-content: center;
  background-color: #323F4B;
}
 
.form-label, h4 {
  color: #adcbd6;
}

.ProfileForm {
  padding: 2%;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  display: flex;
  justify-content: center;
}