h1 {
  text-align: center;
  padding: 2%;
  color: #adcbd6;
}

.form-horizontal {
  text-align: center;
}

.form-group {
  text-align: center;
}

.form-input {
  text-align: center;
}

#form1 {
  text-align: center;
}

.form-label {
  text-align: center;
}

.box {
  background-color: white;
  text-align: center;
  align-items: center;
}

#email {
  text-align: center;
}
