body {
  text-align: center;
  background-color: #323F4B;
  outline-color: transparent;
  margin: 0%;
  padding: 0%;
  border-color: transparent;
  border: 0%;
}

form {
  display: inline-block;
}

h1, h2 {
  text-align: center;
  padding: 2%;
  color: #adcbd6;
}

.form-horizontal {
  text-align: center;
}

.form-group {
  text-align: center;
}

.form-input {
  text-align: center;
}

#form1 {
  text-align: center;
}

.form-label {
  text-align: center;
  color: #adcbd6;
}

/* .box {
  background-color: white;
  text-align: center;
  align-items: center;
} */

#email {
  text-align: center;
}

#loginCentering {
  text-align: center;
  align-items: center;
  align-content: center;
  background-color: #323F4B;
  color: #adcbd6;
}

h4 {
  padding-top: 7%;
  padding-bottom: 2%;
  border-color: transparent !important;
  color: #adcbd6 !important;
}

.loginIntro {
  padding-top: 4%;
  padding-bottom: 2%;
  background-image: linear-gradient(0deg, #323F4B, rgb(230,233,240));
  border-color: transparent;
  border-style: none !important;
  
}
